html {
  background-color: #e3e3e3;
}

.app {
  padding: 10px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.2em;
  word-wrap: anywhere;
}

.cols {
  display: flex;
}

.col {
  margin: 10px;
}

@media screen and (max-width: 700px) {
  .cols {
    flex-direction: column;
  }
}

@media screen and (min-width: 700px) {
  .col {
    width: 50%;
  }
  .left {
    max-width: 400px;
  }
}

.left {
  background-color: white;
  height: fit-content;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #ce18ce;
  padding-bottom: 16px;
  font-family: 'Merienda One', cursive;
  font-size: 2.5em;
  line-height: 1em;
}

.choose-section {
  padding: 20px;
}

.choose-result {
  padding-top: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

.delete-section {
  padding: 10px;
}

.row {
  padding-bottom: 7px;
  display: flex;
  align-items: stretch;
}

.item {
  background-color: white;
  width: 100%;
  padding: 10px;
}

input {
  box-shadow: inset 0px -2px #ce18ce;
}

button, input {
  border: 0;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
}

button:focus, input:focus {
  outline: 3px solid rgba(242, 155, 255, 0.5);
}

.right-button {
  color: #ffffff;
  background-color: #ce18ce;
  width: 40px;
  padding: 10px;
}

.toggle-button {
  color: grey;
  background-color: inherit;
  width: 22px;
  height: 22px;
  padding: 0;
  border: 1px solid white;
}

.choose-button {
  color: white;
  background-color: #ce18ce;
  padding: 10px;
  border: 2px solid #ce18ce;
  box-shadow: inset 2px 2px white, inset -2px -2px white;
  
}

.delete-button {
  color: red;
  background-color: inherit;
  padding: 3px;
  text-decoration: underline;
}